<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body class="userColor-<%= color ? color : '' %>">
	<h1 class="titulo-principal">Hola <%= data ? data.nombre : 'mundo' %>!</h1>

	color <%= color %>

	<% if (data) { %>
		<p>
			Hola <strong><%= data.nombre %></strong>,
			elegiste el color <strong><%= data.color%></strong>,
			tu email es <strong><%= data.email %></strong>
			<% if(data.edad) { %> y tu edad es <strong><%= data.edad %></strong><% } %>
		</p>
	<% } %>

	<form action="/" method="post">
		<label for="nombre">Ingrese su nombre: </label>
		<input type="text" name="nombre" id="nombre" value="<%= data ? data.nombre : '' %>">
		<% errors.forEach(error => { 
				if(error.param == 'nombre') { %>
					<span class="mensajeError"><%= error.msg %></span>
		<%  	} 
		  	}) %>
		<br><br>

		<label for="color">Seleccione un color: </label>
		<select name="color" id="color">
			<option value="">--Elija una opcion--</option>
			<% ['rojo', 'azul', 'amarillo', 'verde'].forEach((color) => { %>
				<option
					value="<%= color %>"
					<%= data?.color == color ? 'selected' : '' %>
				>
					<%= color %>
				</option>
			<% }) %> 			
		</select>
		<% errors.forEach(error => { 
				if(error.param == 'color') { %>
					<span class="mensajeError"><%= error.msg %></span>
		<%  	} 
		  	}) %>
		<br><br>

		<label for="email">Ingrese su email: </label>
		<input type="email" name="email" id="email" value="<%= data ? data.email : '' %>">
		<% errors.forEach(error => { 
				if(error.param == 'email') { %>
					<span class="mensajeError"><%= error.msg %></span>
		<%  	} 
		  	}) %>
		<br><br>

		<label for="edad">Ingrese su edad: </label>
		<input type="text" name="edad" id="edad" value="<%= data ? data.edad : '' %>">
		<% errors.forEach(error => { 
				if(error.param == 'edad') { %>
					<span class="mensajeError"><%= error.msg %></span>
		<%  	} 
		  	}) %>
		<br><br>

		<label for="saveColor">Conservar Color</label>
		<input type="checkbox" name="saveColor" <%= data?.saveColor ? 'checked' : null  %>>
		<br><br>

		<button type="submit">Enviar</button>
	</form>
</body>
</html>